@model Web.Models.Company.IndexModel

@{
    ViewBag.Title = "Список компаний";
}

<h2>Список компаний</h2>

@Html.ActionLink("Добавить", "Create", "Company", null, new { @class = "btn btn-primary"})

@Html.ValidationSummary(true, "Произошла ошибка", new { @class = "text-danger" })

<table class="table" style="margin-top: 1rem;">
    <thead class="thead-dark">
    <tr>
        <th scope="col">№</th>
        <th scope="col">Наименование</th>
        <th scope="col">Организационно-правовая форма</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Companies)
    {
        <tr>
            <td>@Html.DisplayFor(x => item.Id)</td>
            <td>@Html.DisplayFor(x => item.Title)</td>
            <td>@Html.DisplayFor(x => item.LegalForm.Title)</td>
            <td>
                @Html.ActionLink("Редактировать", "Update", "Company",
                    new {id = item.Id}, new { @class = "btn btn-light"})
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", "Company", 
                    new {id = item.Id}, new { @class = "btn btn-dark"})
            </td>
        </tr>
    }
    </tbody>
</table>
