@model Web.Models.Employee.IndexModel

@{
    ViewBag.Title = "Список работников";
}

<h2>Список работников</h2>

@using (Html.BeginForm("Index", "Employee", FormMethod.Get))
{
    @Html.HiddenFor(x => x.PageNumber, "Page")
    <p>
        Поиск по имени: @Html.TextBox("Filter")
        <input class="btn btn-primary" type="submit" value="Поиск"/>
    </p>
}

<table class="table" style="margin-top: 1rem;">
    <thead class="thead-dark">
    <tr>
        <th scope="col">№</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
        <th scope="col">Дата приема на работу</th>
        <th scope="col">Должность</th>
        <th scope="col">Компания</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Employees)
    {
        <tr>
            <td>@Html.DisplayFor(x => item.Id)</td>
            <td>@Html.DisplayFor(x => item.Surname)</td>
            <td>@Html.DisplayFor(x => item.Name)</td>
            <td>@Html.DisplayFor(x => item.Patronymic)</td>
            <td>@item.EmploymentDate.ToString("d")</td>
            <td>@Html.DisplayFor(x => item.Position.Title)</td>
            <td>@Html.DisplayFor(x => item.Company.Title)</td>
            <td>
                @Html.ActionLink("Редактировать", "Update", "Employee",
                    new {id = item.Id}, new { @class = "btn btn-light"})
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", "Employee", 
                    new {id = item.Id}, new { @class = "btn btn-dark"})
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="btn-group" style="display: inline-block">
    @for (var i = 1; i <= Model.TotalPages; i++)
    {
        var cssClass = i == Model.PageNumber ? "selected btn-primary" : "btn-light";
        @Html.ActionLink(i.ToString(), "Index", "Employee", new { page = i, filter = Model.Filter }, new { @class = $"btn {cssClass}"})
    }
</div>
@Html.ActionLink("Добавить", "Create", "Employee", null, new { @class = "btn btn-primary float-right"})